body{
font-family: Arial, sans-serif;
margin:0;
padding:0;
}

header{
background:#333;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
text-align:center;
padding:80px 20px;
background:#f5f5f5;
}

.hero button{
padding:10px 20px;
background:#007BFF;
color:white;
border:none;
cursor:pointer;
}

#services{
text-align:center;
padding:40px;
}

.services{
display:flex;
gap:20px;
justify-content:center;
}

.service{
border:1px solid #ddd;
padding:20px;
width:200px;
}

#portfolio{
text-align:center;
padding:40px;
background:#f5f5f5;
}

.project{
border:1px solid gray;
padding:20px;
width:250px;
margin:auto;
}

#pricing{
text-align:center;
padding:40px;
}

.price-box{
border:1px solid gray;
display:inline-block;
padding:20px;
margin:10px;
}

#order{
text-align:center;
padding:40px;
background:#f5f5f5;
}

#order input,
#order textarea{
display:block;
margin:10px auto;
padding:10px;
width:250px;
}

#order button{
padding:10px 20px;
background:green;
color:white;
border:none;
cursor:pointer;
}

footer{
background:black;
color:white;
text-align:center;
padding:20px;
}
